@import 'tailwindcss';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    .form-block {
        @apply w-3/4 lg:w-1/2 mx-auto mt-10 p-4 bg-sky-100 shadow-lg rounded-lg text-lg
    }

    .btn-primary {
        @apply border border-gray-400 rounded-lg bg-emerald-300 text-emerald-800 font-semibold w-fit self-center px-3 py-1 cursor-pointer hover:bg-sky-50 hover:text-emerald-600
            disabled:cursor-not-allowed disabled:bg-emerald-600 disabled:text-emerald-100
    }

    .btn-delete {
        @apply border border-gray-600 rounded-lg bg-red-500 text-gray-50 font-semibold w-fit self-center px-3 py-1 cursor-pointer hover:bg-red-300 hover:text-red-600
            disabled:cursor-not-allowed disabled:bg-red-700 disabled:text-gray-200
    }

    .btn-reset {
        @apply border border-gray-700 rounded-lg bg-gray-600 text-gray-50 font-semibold w-fit self-center px-3 py-1 cursor-pointer hover:bg-gray-400
            disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-gray-600
    }

    .emphasis-text {
        @apply text-sky-700 underline px-1 hover:text-sky-500
    }

    .btn-admin {
        @apply bg-blue-500 text-gray-50 m-2 px-2 py-1 rounded-lg hover:bg-emerald-600
    }

    .h2-center {
        @apply text-2xl text-center font-medium mb-4 mt-2
    }

    .input-admin {
        @apply px-1 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-400
    }

    .dotted-form {
        @apply bg-gray-200 rounded p-2 mt-4 border-2 border-dotted border-sky-700
    }
}
